
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Jda</title>
</head>
<body>
  <div>
    <div class="card-body">
      <table>
        <tr>
          <td> <label class="text-xs font-weight-bold text-gray-900  mb-1">App Version</label> </td>
          <td>  <label class="text-xs   text-gray-700  mb-1" id="AppVersion"></label></td>
        </tr>
        <tr>
          <td><label class="text-xs font-weight-bold text-gray-900  mb-1">build Version </label></td>
          <td>  <label class="text-xs  text-gray-700  mb-1" id="version"></label></td>
        </tr>
        <tr>
          <td><label class="text-xs font-weight-bold text-gray-900  mb-1">Plateform </label></td>
          <td>  <label class="text-xs text-gray-700  mb-1" id="Plateform"></label></td>
        </tr>
        <tr>
          <td><label class="text-xs font-weight-bold text-gray-900  mb-1">Device Type</label> </td>
          <td>  <label class="text-xs  text-gray-700  mb-1" id="DeviceType"></label></td>

        </tr>
        <tr>
          <td><label class="text-xs font-weight-bold text-gray-900  mb-1">Device Name</label> </td>
          <td>  <label class="text-xs   text-gray-700  mb-1" id="DeviceName"></label></td>
        </tr>
        <tr>
          <td><label class="text-xs font-weight-bold text-gray-900  mb-1">Model</label> </td>
          <td>  <label class="text-xs  text-gray-700  mb-1" id="Model"></label></td>
        </tr>

        <tr>
          <td><label class="text-xs font-weight-bold text-gray-900  mb-1">Device Version </label></td>
          <td>  <label class="text-xs  text-gray-700  mb-1" id="DeviceVersion"></label></td>
        </tr>
        <tr>
          <td><label class="text-xs font-weight-bold text-gray-900  mb-1">Manufacturer</label> </td>
          <td>  <label class="text-xs   text-gray-700  mb-1" id="Manufacturer"></label></td>
        </tr>

        <tr>
          <td><label class="text-xs font-weight-bold text-gray-900  mb-1">Screen Resolution </label></td>
          <td>  <label class="text-xs  text-gray-700  mb-1" id="ScreenResolution"></label></td>
        </tr>

        <tr>
          <td><label class="text-xs font-weight-bold text-gray-900  mb-1">battery level </label></td>
          <td>  <label class="text-xs   text-gray-700  mb-1" id="batterylevel"></label></td>
        </tr>

        <tr>
          <td><label class="text-xs font-weight-bold text-gray-900  mb-1">Language </label> </td>
          <td>  <label class="text-xs  text-gray-700  mb-1" id="DeviceLang"></label></td>
        </tr>

        <tr>
          <td><label class="text-xs font-weight-bold text-gray-900  mb-1">Current Network</label> </td>
          <td>  <label class="text-xs   text-gray-900  mb-1" id="CurrentNetwork"></label></td>
        </tr>
        <tr>
          <td><label class="text-xs font-weight-bold text-gray-900  mb-1">Current Profile</label> </td>
          <td>  <label class="text-xs   text-gray-900  mb-1" id="CurrentProfile"></label></td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>
