@model screenshare3.Models.ScreenImage

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<head>
  <meta name="viewport" content="width=device-width" />
  <title>Test</title>
  <script>

    var thisOne = getQueryString('bugId');
    function send_with_ajaxPrev() {

      document.getElementById("AppVersion").innerText = data.vession;
    }

  </script>
</head>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
  <label class="text-xs   text-gray-700  mb-1" id="AppVersion"></label>
  <img src="~/Images/48-48-fbf48043394a34fe031a6b48af27debf.png" onClick="send_with_ajaxPrev()">
</div>
}


